.contact1-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-max-width {
  align-self: center;
}
.contact1-section-title {
  width: 100%;
  margin-bottom: var(--dl-space-space-threeunits);
}
.contact1-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-content2 {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.contact1-content3 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-content4 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-contact-info1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-text12 {
  align-self: flex-start;
  text-align: center;
}
.contact1-content5 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-contact-info2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-text14 {
  align-self: flex-start;
  text-align: center;
}
.contact1-content6 {
  gap: 16px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-contact-info3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact1-text17 {
  align-self: flex-start;
  text-align: center;
}
.contact1-iframe {
  height: 664px;
}
.contact1-fragment1 {
  display: contents;
}
.contact1-text19 {
  display: inline-block;
}
.contact1-fragment2 {
  display: contents;
}
.contact1-text20 {
  display: inline-block;
}
.contact1-fragment3 {
  display: contents;
}
.contact1-text21 {
  display: inline-block;
}
.contact1-fragment4 {
  display: contents;
}
.contact1-text22 {
  display: inline-block;
}
.contact1-fragment5 {
  display: contents;
}
.contact1-text23 {
  display: inline-block;
}
.contact1-fragment6 {
  display: contents;
}
.contact1-text24 {
  display: inline-block;
}
.contact1-fragment7 {
  display: contents;
}
.contact1-text25 {
  display: inline-block;
}
.contact1-fragment8 {
  display: contents;
}
.contact1-text26 {
  display: inline-block;
}



@media(max-width: 991px) {
  .contact1-content2 {
    position: relative;
    align-items: flex-start;
    flex-direction: column;
  }
}
