<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bildelsgrossen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
    <!--This is the head section-->
    <style>
      @keyframes scroll {
          0% {
              transform: translateX(0);
          }
          100% {
              transform: translateX(-100%);
          }
      }

      @media only screen and (max-width: 991px) {
          @keyframes scroll {
              0% {
                  transform: translateX(0);
              }
              100% {
                  transform: translateX(-200%);
              }
          }
      }

      @media only screen and (max-width: 479px) {
          @keyframes scroll {
              0% {
                  transform: translateX(0);
              }
              100% {
                  transform: translateX(-300%);
              }
          }
      }
    </style>
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./supply1.css" rel="stylesheet" />
      <div class="supply1-layout300 thq-section-padding">
        <div class="supply1-max-width thq-section-max-width">
          <div class="supply1-section-title">
            <div class="supply1-content10">
              <h2>
                <fragment class="supply1-fragment15">
                  <h2 class="supply1-text17 thq-heading-2">
                    Vad vi kan erbjuda
                  </h2>
                </fragment>
              </h2>
              <span>
                <fragment class="supply1-fragment12">
                  <span class="supply1-text14 thq-body-large">
                    Utforska nyckelfunktionerna som skiljer oss från
                    konkurrenterna
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div class="supply1-content11">
            <div class="supply1-row1 thq-flex-row">
              <div class="supply1-feature11">
                <img
                  alt="Car Parts"
                  src="https://images.unsplash.com/photo-1512566393827-78dc4c8d8292?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content12">
                  <h3>
                    <fragment class="supply1-fragment23">
                      <h3 class="supply1-text25 thq-heading-3">
                        Wide Range of Car Parts
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment10">
                      <span class="supply1-text12 thq-body-small">
                        We offer a diverse selection of high-quality car parts
                        for various makes and models.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature21">
                <img
                  alt="Delivery Van"
                  src="https://images.unsplash.com/photo-1651350180762-de2f5fb90680?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content13">
                  <h3>
                    <fragment class="supply1-fragment18">
                      <h3 class="supply1-text20 thq-heading-3">
                        Fast Delivery Services
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment26">
                      <span class="supply1-text28 thq-body-small">
                        Enjoy fast and reliable delivery services to auto shops
                        in the Stockholm area.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature31">
                <img
                  alt="Customer Support"
                  src="https://images.unsplash.com/photo-1670771283952-a6c08f27ef61?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content14">
                  <h3>
                    <fragment class="supply1-fragment14">
                      <h3 class="supply1-text16 thq-heading-3">
                        Dedicated Customer Support
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment28">
                      <span class="supply1-text30 thq-body-small">
                        Our team is here to assist you with any inquiries or
                        support you may need.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="supply1-row2 thq-flex-row">
              <div class="supply1-feature12">
                <img
                  alt="Car Parts"
                  src="https://images.unsplash.com/photo-1512566393827-78dc4c8d8292?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content15">
                  <h3>
                    <fragment class="supply1-fragment20">
                      <h3 class="supply1-text22 thq-heading-3">
                        Wide Range of Car Parts
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment19">
                      <span class="supply1-text21 thq-body-small">
                        We offer a diverse selection of high-quality car parts
                        for various makes and models.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature22">
                <img
                  alt="Delivery Van"
                  src="https://images.unsplash.com/photo-1651350180762-de2f5fb90680?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content16">
                  <h3>
                    <fragment class="supply1-fragment24">
                      <h3 class="supply1-text26 thq-heading-3">
                        Fast Delivery Services
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment25">
                      <span class="supply1-text27 thq-body-small">
                        Enjoy fast and reliable delivery services to auto shops
                        in the Stockholm area.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature32">
                <img
                  alt="Customer Support"
                  src="https://images.unsplash.com/photo-1670771283952-a6c08f27ef61?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content17">
                  <h3>
                    <fragment class="supply1-fragment22">
                      <h3 class="supply1-text24 thq-heading-3">
                        Dedicated Customer Support
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment27">
                      <span class="supply1-text29 thq-body-small">
                        Our team is here to assist you with any inquiries or
                        support you may need.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
            <div class="supply1-row3 thq-flex-row">
              <div class="supply1-feature13">
                <img
                  alt="Car Parts"
                  src="https://images.unsplash.com/photo-1512566393827-78dc4c8d8292?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1Nnw&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content18">
                  <h3>
                    <fragment class="supply1-fragment17">
                      <h3 class="supply1-text19 thq-heading-3">
                        Wide Range of Car Parts
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment11">
                      <span class="supply1-text13 thq-body-small">
                        We offer a diverse selection of high-quality car parts
                        for various makes and models.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature23">
                <img
                  alt="Delivery Van"
                  src="https://images.unsplash.com/photo-1651350180762-de2f5fb90680?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content19">
                  <h3>
                    <fragment class="supply1-fragment29">
                      <h3 class="supply1-text31 thq-heading-3">
                        Fast Delivery Services
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment21">
                      <span class="supply1-text23 thq-body-small">
                        Enjoy fast and reliable delivery services to auto shops
                        in the Stockholm area.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
              <div class="supply1-feature33">
                <img
                  alt="Customer Support"
                  src="https://images.unsplash.com/photo-1670771283952-a6c08f27ef61?crop=entropy&amp;cs=tinysrgb&amp;fit=max&amp;fm=jpg&amp;ixid=M3w5MTMyMXwwfDF8cmFuZG9tfHx8fHx8fHx8MTcyMjUxMjQ1N3w&amp;ixlib=rb-4.0.3&amp;q=80&amp;w=1080"
                  class="thq-img-ratio-4-3"
                />
                <div class="supply1-content20">
                  <h3>
                    <fragment class="supply1-fragment13">
                      <h3 class="supply1-text15 thq-heading-3">
                        Dedicated Customer Support
                      </h3>
                    </fragment>
                  </h3>
                  <span>
                    <fragment class="supply1-fragment16">
                      <span class="supply1-text18 thq-body-small">
                        Our team is here to assist you with any inquiries or
                        support you may need.
                      </span>
                    </fragment>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
